tokendeployment/node_modules
test-network/node_modules
test-network/build/contracts

ibft2-network-1-boot-3-validator/node-1/data/caches
ibft2-network-1-boot-3-validator/node-1/data/database
ibft2-network-1-boot-3-validator/node-1/data/uploads
ibft2-network-1-boot-3-validator/node-1/data/besu.networks
ibft2-network-1-boot-3-validator/node-1/data/besu.ports
ibft2-network-1-boot-3-validator/node-1/data/DATABASE_METADATA.json

ibft2-network-1-boot-3-validator/node-2/data/caches
ibft2-network-1-boot-3-validator/node-2/data/database
ibft2-network-1-boot-3-validator/node-2/data/uploads
ibft2-network-1-boot-3-validator/node-2/data/besu.networks
ibft2-network-1-boot-3-validator/node-2/data/besu.ports
ibft2-network-1-boot-3-validator/node-2/data/DATABASE_METADATA.json

ibft2-network-1-boot-3-validator/node-3/data/caches
ibft2-network-1-boot-3-validator/node-3/data/database
ibft2-network-1-boot-3-validator/node-3/data/uploads
ibft2-network-1-boot-3-validator/node-3/data/besu.networks
ibft2-network-1-boot-3-validator/node-3/data/besu.ports
ibft2-network-1-boot-3-validator/node-3/data/DATABASE_METADATA.json

ibft2-network-1-boot-3-validator/node-4/data/caches
ibft2-network-1-boot-3-validator/node-4/data/database
ibft2-network-1-boot-3-validator/node-4/data/uploads
ibft2-network-1-boot-3-validator/node-4/data/besu.networks
ibft2-network-1-boot-3-validator/node-4/data/besu.ports
ibft2-network-1-boot-3-validator/node-4/data/DATABASE_METADATA.json