[Unit]
Description=Ethereum Pantheon client

[Service]
Type=simple
Restart=always
ExecStart=/bin/bash /node1/start-pantheon.sh

[Install]
WantedBy=default.target
