#!/bin/bash

# LOG4J_CONFIGURATION_FILE=/node1/log.xml

pantheon --data-path /node1/data --genesis-file=/node1/data/genesis.json --network-id {{net_id}} --permissions-nodes-contract-enabled --permissions-nodes-contract-address=0x0000000000000000000000000000000000009999 --config-file=/node1/config.toml --bootnodes