[Unit]
Description=Orion client

[Service]
Type=simple
Restart=always
ExecStart=/opt/besu-validator/start-orion.sh

[Install]
WantedBy=default.target
