#!/bin/bash

# LOG4J_CONFIGURATION_FILE=/node2/log.xml

sudo pantheon --data-path /node2/data --genesis-file=/node2/data/genesis.json --network-id {{net_id}} --permissions-nodes-contract-enabled --permissions-nodes-contract-address=0x0000000000000000000000000000000000009999 --config-file=/node2/config.toml