[Unit]
Description=Ethereum Pantheon client

[Service]
Type=simple
Restart=always
ExecStart=/home/trung/besu-mitx/start-pantheon.sh

[Install]
WantedBy=default.target
