#!/bin/bash

LOG4J_CONFIGURATION_FILE=/home/trung/besu-mitx/log.xml pantheon --data-path /home/trung/besu-mitx/data --genesis-file=/home/trung/besu-mitx/data/genesis.json --network-id {{net_id}} --permissions-nodes-contract-enabled --permissions-nodes-contract-address=0x0000000000000000000000000000000000009999 --config-file=/home/trung/besu-mitx/config.toml --bootnodes