#!/bin/bash

LOG4J_CONFIGURATION_FILE=/opt/besu-validator/log.xml pantheon --data-path /opt/besu-validator/data --genesis-file=/opt/besu-validator/data/genesis.json --network-id {{net_id}} --permissions-nodes-contract-enabled --permissions-nodes-contract-address=0x0000000000000000000000000000000000009999 --config-file=/opt/besu-validator/config.toml